<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>boder단건조회</title>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
      .container {
        width: 100%;
        margin: 0 auto;
      }
      .aTag{
        color: white;
        text-decoration-line: none;
      }
      .aTag:hover{
        color: white;
        text-decoration-line: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <!-- the actual blog post: title/author/date/content -->
          <h1><a href=""></a></h1>
          <p class="lead">
            <% for(let i = 0 ; i < list.length ; i++) { %>
            <p class="lead"><%=list[i].title%></p>
            <i class="fa fa-user"> by <a href=""><%=list[i].userid%></a></i>
          </p>
          <hr />
          <br />
          <p><%=list[i].content%></p>
          <hr />
          <% } %>
          <div style="margin:10px;">
            <button
              type="button"
              id="updateBtn"
              name="updateBtn"
              class="btn btn-primary backBtn"
              onclick="location.href='/border/borderPut/<%=list[0].no%>'">
              게시글 수정
            </button>
          </div>
          <div class="well">
            <h4><i class="fa fa-comment"></i> 전체 댓글</h4>
            <form role="form">
              <div class="form-group">
                <input class="form-control" id="bc_id" type="text" placeholder="ID">
                <textarea class="form-control" id="bc_content" rows="3"></textarea>
              </div>
              <div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>번호</th>
                      <th>ID</th>
                      <th>댓글내용</th>
                      <th>작성시간</th>
                      <th>-</th>
                    </tr>
                  </thead>
                  <tbody id="divcomment">
                  </tbody>
                </table>
              </div>
              <button type="button"
                class="btn btn-primary" id="saveBtn">
                <a class="aTag">
                  댓글등록
                </a>
              </button>
              <button
                class="btn btn-primary backBtn">
                <a href="#" class="aTag" onclick="location.href='/border'">
                  뒤로가기
                </a>
              </button>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      // const bo_id = `<%=bo_id%>`;
      const url = `/border/comment`;
      commentAll();
      commentInsert();
      commentDelete();

      // 댓글 전체조회
      function commentAll(){
        fetch(url)
        .then((res)=>res.json())
        .then((res)=>{
          divcomment.innerHTML = '';
          for(let i = 0 ; i < res.length ; i++){
            const str = `
              <tr data-no="${res[i].no}">
                <td><input type="checkbox" /></td>
                <td>${res[i].no}</td>
                <td>${res[i].bc_id}</td>
                <td>${res[i].bc_content}</td>
                <td>${res[i].bc_date}</td>
                <td>
                  <button type="button" id="delbtn">삭제</button>
                </td>
              </tr>`;
            divcomment.innerHTML += str;
          }
        });
      }

      // 댓글 등록
      function commentInsert(){
        saveBtn.addEventListener("click",()=>{
          let data = {
            bc_id : bc_id.value,
            bc_content : bc_content.value,
          };
          fetch(url, {
            method : "POST",
            headers : {
              "content-type" : "application/json"
            },
            body : JSON.stringify(data),
          })
            .then((res) => res.json())
            .then((res) => {
              alert("댓글이 등록되었습니다");
              commentAll()
            })
            .catch(()=>{
              alert("댓글 등록 실패!");
            });
        });
      }
      // 댓글 삭제
      function commentDelete(){
        divcomment.addEventListener("click",(event)=>{
          if(event.target.id == "delbtn"){
            //확인, 취소 여부를 사용자에게 알림창으로 물어보는 기능(confirm)
            if(confirm('삭제할까요?')){
            let no = event.target.closest("tr").getAttribute("data-no");
            fetch(`${url}/${no}`, {method : "delete"}).then(() => commentAll());
            }
          }
        })
      }
    </script>
  </body>
</html>