<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>전체게시글</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link href="./stylesheets/border.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 style="color: rgb(19, 19, 143)">Home page</h1>
        <div role="tabpanel">
          <button id="wirteBtn">글쓰기</button>
          <div class="col-sm-3">
            <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
              <li role="presentation" class="brand-nav active">
                <a
                  href="/border"
                  aria-controls="tab1"
                  role="tab"
                  data-toggle="tab"
                  >자유게시판</a
                >
              </li>
              <li role="presentation" class="brand-nav active">
                <a
                  href="/notice"
                  aria-controls="tab3"
                  role="tab"
                  data-toggle="tab"
                  >공지사항</a
                >
              </li>
              <li role="presentation" class="brand-nav active">
                <a
                  href="/border3"
                  aria-controls="tab4"
                  role="tab"
                  data-toggle="tab"
                  >소개</a
                >
              </li>
            </ul>
          </div>
          <div class="col-sm-9">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="tab1">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID</th>
                      <th scope="col">글 제목</th>
                      <th scope="col">조회수</th>
                      <th scope="col">작성일</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0 ; i < list.length ; i++) { %>
                    <tr class="borderOneLook" onclick="look(<%=list[i].no%>)">
                      <th scope="row"><%=list[i].no%></th>
                      <td><%=list[i].userid%></td>
                      <td><%=list[i].title%></td>
                      <td><%=list[i].views%></td>
                      <td><%=list[i].ydata%></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      //글쓰기 버튼
      window.addEventListener("load", () => {
        const writeBtn = document.querySelector("#wirteBtn");
        writeBtn.addEventListener("click", (e) => {
          e.preventDefault();
          location.href = `/border/writePage`;
        });
      });

      //글 누르면 단건조회 되는 곳
      function look(no) {
        location.href = `/border/borderLook/${no}`;
      }
    </script>
  </body>
</html>
