<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>단건조회</title>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
      body{
        background-image: url(/images/배경화면2.jpg);
      }
      .container {
        width: 90%;
        margin: 0 auto;
        height: 1000px;
        background-color: rgba(240, 241, 247, 0.911);
      }
      .aTag{
        color: white;
        text-decoration-line: none;
      }
      .aTag:hover{
        color: white;
        text-decoration-line: none;
      }
      #C_T{
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
      <h1><a href=""></a></h1>
      <p class="lead">
        <% for(let i = 0 ; i < list.length ; i++) { %>
          <p class="lead"><%=list[i].title%></p>
          <p class="lead" style="font-size: 15px;"><%=list[i].ydata%></p>
          <i class="fa fa-user"> by <a href=""><%=list[i].userid%></a></i>
        </p>
        <hr />
        <div id="C_T">
          <br />
          <p style="word-wrap: break-word; white-space: pre-wrap;"><%=list[i].content%></p>
        </div>
          <% } %>
          <div class="well">
            <h4><i class="fa fa-comment"></i> 댓글</h4>
            <form role="form">
              <div class="form-group">
                댓글을 추가할 수 있는 권한이 없습니다.
              </div>
              <button
                class="btn btn-primary backBtn">
                <a href="#" class="aTag" onclick="location.href='/notice'">
                  뒤로가기
                </a>
              </button>
              </button>
            </form>
          </div>
      </div>
    </div>
    <script>
      const url = `/notice/noticeLook`;
      const no = `<%=list[0].no%>`;
      console.log(no);
      viewsUpdate();

      //조회수 증가
      function viewsUpdate(){
        fetch(`${url}/${no}`,
              {method : "POST"})
          .then((res)=>res.json())
      }
    </script>
  </body>
</html>
